/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import 'mixins';*/
/*$aspect-ratio-video: 4/3;
$height-video: 380px;
$width-video: $height-video * $aspect-ratio-video;

html {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

@include border-box-default;*/
/* line 3, ../../_scss/screen.scss */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 10, ../../_scss/screen.scss */
.hidden {
  display: none;
}

/* line 14, ../../_scss/screen.scss */
body {
  background-color: #f5f1e9;
  font-family: Dosis, Helvetica, Arial, sans-serif;
  line-height: 25px;
  text-align: center;
  color: #4353ab;
  font-size: 1.2em;
}

/* line 23, ../../_scss/screen.scss */
#container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 40px auto;
  background-image: url("../images/bg_spel2.png");
  box-shadow: 0px 0px 7px -1px #6e6e6e;
}

/* line 33, ../../_scss/screen.scss */
.hidden_header {
  display: none;
}

/* line 37, ../../_scss/screen.scss */
header {
  margin-bottom: 20px;
}

/* line 41, ../../_scss/screen.scss */
#content #logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 71px;
  height: 22px;
  margin-left: 376px;
  /* ik krijg t logo niet ih midden met margin: auto... :) */
  /*margin-right: auto;*/
  margin-top: -13px;
  z-index: 1;
}

/* line 53, ../../_scss/screen.scss */
#content #time {
  width: 800px;
  height: 6px;
  background-color: #ffe200;
  margin-top: -4px;
  position: absolute;
  z-index: 0;
}

/* ----- 01 INFO ----- */
/* line 65, ../../_scss/screen.scss */
#board p {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  /*color: #4353ab;*/
  /*text-align: center;*/
  padding-top: 47px;
}

/* line 72, ../../_scss/screen.scss */
#megaComplexeNaam {
  height: 60px;
}

/* line 76, ../../_scss/screen.scss */
#intro_video {
  width: 400px;
  height: 302px;
  margin: 0 auto;
  box-shadow: 0px 0px 7px -1px #6e6e6e;
  /*position: absolute;
  margin-top: 30px;*/
  /*background-image: url("../images/intro_video.png");*/
}

.intro #credits{
	padding-top: 24px;
	font-size: 0.7em;
}

.intro #credits a{
		text-decoration: none;
}

.intro #credits a:hover{
	text-decoration: underline;
}

/* line 86, ../../_scss/screen.scss */
#start_bg {
  width: 800px;
  height: 6px;
  background-color: #f6f1e8;
  margin-top: -40px;
  /*position: absolute;*/
  z-index: 0;
}

/* line 95, ../../_scss/screen.scss */
.btn {
  color: #f756b3;
  text-transform: uppercase;
  z-index: 1;
  margin-top: -10px;
  font-size: 1.3em;
  cursor: pointer;
}

/* ----- 02 ZOEKEN ----- */
/* line 107, ../../_scss/screen.scss */
#zoeken_video {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  /*position: absolute;
  margin-top: 30px;*/
  background-image: url("../images/zoeken_video.png");
}

/* line 116, ../../_scss/screen.scss */
#zoek_bg {
  width: 800px;
  height: 6px;
  background-color: #f6f1e8;
  /*position: absolute;*/
  z-index: 0;
}

/* ----- 03 SPEL ----- */
/* line 126, ../../_scss/screen.scss */
#time_links {
  width: 200px;
  height: 6px;
  background-color: white;
  margin-top: -4px;
  position: absolute;
  z-index: 0;
}

/* line 135, ../../_scss/screen.scss */
#time_rechts {
  width: 354px;
  height: 6px;
  background-color: white;
  margin-top: -4px;
  margin-left: 446px;
  position: absolute;
  z-index: 0;
  float: right;
}

/* line 146, ../../_scss/screen.scss */
#punten_links {
  margin-left: -73px;
  font-size: 1.2em;
  position: absolute;
  margin-top: 12px;
  float: left;
  text-align: right;
  width: 60px;
  font-weight: bold;
}

/* line 157, ../../_scss/screen.scss */
#punten_rechts {
  text-align: left;
  margin-right: -75px;
  font-size: 1.2em;
  margin-top: 12px;
  float: right;
  z-index: 1;
  width: 60px;
  font-weight: bold;
}

/* ----- 04 EINDE ----- */
/* line 171, ../../_scss/screen.scss */
.endText {
  position: absolute;
  width: 300px;
  margin: 223px 0 0 250px;
}

/* line 177, ../../_scss/screen.scss */
#time_rechts_gewonnen {
  width: 354px;
  height: 6px;
  background-color: #f756b3;
  margin-top: -284px;
  margin-left: 446px;
  position: absolute;
  top: 40px;
  /*z-index: 0;
  float: right;*/
}

/* line 189, ../../_scss/screen.scss */
#einde_bg {
  width: 800px;
  height: 6px;
  background-color: #f6f1e8;
  position: absolute;
  z-index: 0;
  margin-top: -116px;
  top: 410px;
}

/* line 199, ../../_scss/screen.scss */
.btn_opnieuw {
  color: #f756b3;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 10px;
  font-size: 1.3em;
  cursor: pointer;
  position: absolute;
  top: 316px;
  left: 300px;
  width: 200px;
}
