@import 'compass/reset';
/*@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import 'mixins';*/

//vars

//font-face

/*$aspect-ratio-video: 4/3;
$height-video: 380px;
$width-video: $height-video * $aspect-ratio-video;

html {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}

@include border-box-default;*/
