@import 'base';

canvas {
	//border: 1px solid #453768;
	position: absolute;
	top: 0;
	left: 0;
}

.hidden{
	display: none;
}

body{
	background-color: #f5f1e9;
	font-family: Dosis, Helvetica, Arial, sans-serif;
	line-height: 25px;
	text-align: center;
	color: #4353ab;
	font-size: 1.2em;
}

#container {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 40px auto;
	background-image: url("../images/bg_spel2.png");
	//background-repeat: no-repeat;
	box-shadow: 0px 0px 7px -1px #6e6e6e;
}

.hidden_header{
	display: none;
}

header {
	margin-bottom: 20px;
}

#content #logo{
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 71px;
	height: 22px;
	margin-left: 376px;         /* ik krijg t logo niet ih midden met margin: auto... :) */
	/*margin-right: auto;*/
	margin-top: -13px;
	z-index: 1;
}

#content #time{
	width: 800px;
	height: 6px;
	background-color: #ffe200;
	margin-top: -4px;
	position: absolute;
	z-index: 0;
}


/* ----- 01 INFO ----- */

#board p{
	font-family: Dosis, Helvetica, Arial, sans-serif;
	/*color: #4353ab;*/
	/*text-align: center;*/
	padding-top: 47px;
}

#megaComplexeNaam{
	height: 60px;
}

#intro_video{
	width: 400px;
	height: 302px;
	margin: 0 auto;
	box-shadow: 0px 0px 7px -1px #6e6e6e;
	/*position: absolute;
	margin-top: 30px;*/
	/*background-image: url("../images/intro_video.png");*/
}

#start_bg{
	width: 800px;
	height: 6px;
	background-color: #f6f1e8;
	margin-top: -40px;
	/*position: absolute;*/
	z-index: 0;
}

.btn{
	color: #f756b3;
	text-transform: uppercase;
	z-index: 1;
	margin-top: -10px;
	font-size: 1.3em;
	cursor: pointer;
}


/* ----- 02 ZOEKEN ----- */

#zoeken_video{
	width: 800px;
	height: 300px;
	margin: 0 auto;
	/*position: absolute;
	margin-top: 30px;*/
	background-image: url("../images/zoeken_video.png");
}

#zoek_bg{
	width: 800px;
	height: 6px;
	background-color: #f6f1e8;
	/*position: absolute;*/
	z-index: 0;
}


/* ----- 03 SPEL ----- */
#time_links{
	width: 200px;
	height: 6px;
	background-color: white;
	margin-top: -4px;
	position: absolute;
	z-index: 0;
}

#time_rechts{
	width: 354px;
	height: 6px;
	background-color: white;
	margin-top: -4px;
	margin-left: 446px;
	position: absolute;
	z-index: 0;
	float: right;
}

#punten_links{
	margin-left: -73px;
	font-size: 1.2em;
	position: absolute;
	margin-top: 12px;
	float: left;
	text-align: right;
	width: 60px;
	font-weight: bold;
}

#punten_rechts{
	text-align: left;
	margin-right: -75px;
	font-size: 1.2em;
	margin-top: 12px;
	float: right;
	z-index: 1;
	width: 60px;
	font-weight: bold;
}


/* ----- 04 EINDE ----- */

.endText{
	position: absolute;
	width: 300px;
	margin: 223px 0 0 250px;
}

#time_rechts_gewonnen{
	width: 354px;
	height: 6px;
	background-color: #f756b3;
	margin-top: -284px;
	margin-left: 446px;
	position: absolute;
	top: 40px;
	/*z-index: 0;
	float: right;*/
}

#einde_bg{
	width: 800px;
	height: 6px;
	background-color: #f6f1e8;
	position: absolute;
	z-index: 0;
	margin-top: -116px;
	top: 410px;
}

.btn_opnieuw{
	color: #f756b3;
	text-transform: uppercase;
	z-index: 1;
	margin-top: 10px;
	font-size: 1.3em;
	cursor: pointer;
	position: absolute;
	top: 316px;
	left: 300px;
	width: 200px;
}
